*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: hsl(235, 18%, 26%);
  font: 1rem 'Roboto', sans-serif;
  font-weight: 400;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
  color: hsl(0, 0%, 100%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

.signup-form,
.successmsg {
  background-color: hsl(0, 0%, 100%);
  max-width: 375px;
  color: hsl(234, 29%, 20%);
  padding: 1.5rem;
  display: none;
}

.signup-form {
  display: block;
}

.signup-form.success {
  padding: 3.5rem;
}

.content h1,
.successmsg h1 {
  font-weight: 700;
  line-height: 1;
}

.content h1 {
  font-size: 2.5rem;
}

.successmsg h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  margin: 1rem 0;
}

.successmsg p {
  margin-bottom: 15rem;
}

ul li {
  display: flex;
  gap: 1rem;
  margin-bottom: 10px;
  align-items: flex-start;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-item label {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.error-email {
  color: hsl(4, 100%, 67%);
  display: none;
}

.error-email.active {
  display: block;
}

.form-item input,
.form-item button,
.btn2 {
  padding: 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  font-weight: 700;
}

.form-item input {
  border: 1px solid hsl(231, 7%, 60%);
}

input.active {
  background-color: rgba(255, 98, 87, 0.2);
  border-color: hsl(4, 100%, 67%);
}

.btn1,
.btn2 {
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.btn1:hover,
.btn2:hover {
  background: linear-gradient(127deg, rgba(255, 63, 124, 1) 40%, rgb(229, 40, 15) 70%);
}

.btn2 {
  width: 100%;
  margin-bottom: 1rem;
}

.successmsg.active {
  display: block;
}

.successmsg img {
  margin: 6rem 0 2rem;
}

@media (min-width: 769px) {
  body {
    justify-content: center;
  }

  .signup-form {
    max-width: 900px;
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
    border-radius: 1.5rem;
  }

  .signup-form.success {
    display: block;
    padding: 0;
  }

  .content {
    margin: 2rem 0.5rem;
  }

  .content h1 {
    font-size: 3.5rem;
  }

  .successmsg {
    max-width: 400px;
    border-radius: 1.5rem;
    padding: 2rem;
  }

  .successmsg img {
    margin: 1rem 0;
  }

  .successmsg p {
    margin-bottom: 1rem;
  }
}
